
doctype html
html(lang="")
  include partials/head.pug
  body.main-page
    // include partials/header.pug
    .hero-section
      .hero-section-headline
        .container
          .hero-section-headline__title DEIN CLUB
          .hero-section-headline__subtitle DEIN HOOBY
        
      .slider
        div
          img(src="../Images/JungDance.jpg")
        div
          img(src="../Images/LateinDance.jpeg")
      .edge-border  
        .edge-border__outer
          .container
            h1 The quick brown fox 
          .edge-border__inner
    .container
      h1 Hello
      script(src="../JavaScript/index.js")
