head
  link(rel="stylesheet", href="../SCSS/default.scss")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
